body,html{
	font-family:"gulim";
	font-size:12px;
}
.password_refly_box{
	width:1200px;
}
.password_refly{
	width:500px;
	height:200px;
	background:#ededed;
	text-align:center;
	border:1px solid #ffa500;
	box-sizing:border-box;
	margin-top:50px;
}
.password_refly > p:nth-child(1){
	font-size:15px;
	font-weight:bold;
	margin-top:40px;
}
.password_refly > input{
	width:400px;
	height:30px;
}
.password_refly > input:nth-child(2){
	margin-top:10px;
}
.password_refly > input:nth-child(3){
	margin-top:10px;
}
.pass_refly_btn{
	width:400px;
	height:30px;
	text-align:center;
	line-height:30px;
	cursor:pointer;
	background:#ffa500;
	color:#fff;
	margin-top:10px;
}