html,body{
   font-family:"gulim";
   font-size:12px;
}
.password_box1{
   width:500px;
   height: 250px;
}
.id_check{
   margin-top:50px;
   width:500px;
   height:350px;
   background:#ededed;
   border:1px solid #ffa500;
   box-sizing:border-box;
   text-align:center;
}
.id_check > p{
   font-size:15px;
   font-weight:bold;
   margin-top:10px;
   margin-left: 49px;
}
.id_check > p:nth-child(1){
    margin-top:50px;
    margin-left: 80px;
}
.id_check > input{
   width:400px;
   height:30px;
   margin-top:20px;
}
.cancel_btn{
   width:400px;
   height:30px;
   text-align:center;
   line-height:30px;
   background:#ffa500;
   color:#fff;
   font-size:12px;
   cursor:pointer;
   margin-left: 48px;
}
.close_btn{
   width:400px;
   height:30px;
   text-align:center;
   line-height:30px;
   background:#ffa500;
   color:#fff;
   font-size:12px;
   cursor:pointer;
   margin-left: 48px;
}