html,body{
	font-family:"gulim";
	font-size:12px;
}
.password_box{
	width:500px;
	height: 300px;
}
.id_check{
	margin-top:50px;
	width:500px;
	height:300px;
	background:#ededed;
	border:1px solid #ffa500;
	box-sizing:border-box;
	text-align:center;
}
.id_check > p{
	font-size:15px;
	font-weight:bold;
	margin-top:10px;
}
.id_check > p:nth-child(1){
	 margin-top:50px;
}
#pass_text{
	width:300px;
	height:30px;
	margin-top:20px;
}
#name_text{
	width:300px;
	height:30px;
	margin-top:20px;
}
#phone_text{
	width:300px;
	height:30px;
	margin-top:20px;
}
#number_text{
	width:300px;
	height:30px;
	margin-top:20px;
}
.pass_check_btn{
	width:150px;
	height:30px;
	text-align:center;
	line-height:30px;
	background:#ffa500;
	color:#fff;
	font-size:12px;
	cursor:pointer;
}
.number_check_btn{
	width:150px;
	height:30px;
	text-align:center;
	line-height:30px;
	background:#ffa500;
	color:#fff;
	font-size:12px;
	cursor:pointer;
}
.name_check_btn{
	width:150px;
	height:30px;
	text-align:center;
	line-height:30px;
	background:#ffa500;
	color:#fff;
	font-size:12px;
	cursor:pointer;
}
.big_text{
	font-size:0.9em;
	color:#696969;
}