.main{
	width:1200px;
	height:500px;
	position:relative;
}
.login_box{
	width:500px;
	height:300px;
	border:1px solid #ffa500;
	position:absolute;
	top:100px;
	left:350px;
}
.login_box > p{
	font-size:1.5em;
	font-weight:bold;
	font-family:"arial";
	color:#ffa500;
	margin-top:5px;
	margin-lefT:5px;
}
.login_table{
	width:400px;
	height:80px;
	margin-top:30px;
	overflow:hidden;
	margin-top:80px;
}
.login_text_box,login_btn{
	float:left;
}
.login_text_box{
	 width:300px;
	 margin-left:7px;
}
.id_box{
	width:300px;
	height:35px;
	border:solid 1px #808080;
	box-sizing:border-box;
	color:#696969;
	font-size:12px;
	font-family:"dotum";
}
.password_box{
	width:300px;
	height:35px;
	margin-top:10px;
	border:solid 1px #808080;
	box-sizing:border-box;
	color:#696969;
	font-size:12px;
	font-family:"dotum";
}
.login_btn{
	width:85px;
	height:80px;
	background:#ffa500;
	color:#fff;
	font-family:"dotum";
	font-size:1em;
	font-weight:bold;
	text-align:center;
	line-height:80px;
	cursor:pointer;
	margin-left:310px;
}
.join{
	width:388px;
	height:30px;
	background:#B22222;
	margin-top:10px;
	text-align:center;
	line-height:30px;
	font-size:12px;
	color:#fff;
	cursor:pointer;
}.find_pass{
	width:388px;
	height:30px;
	background:#B22222;
	margin-top:10px;
	text-align:center;
	line-height:30px;
	font-size:12px;
	color:#fff;
	cursor:pointer;
}
