body,html{
	font-family:"gulim";
	font-size:12px;
}
.stats_shop_choice{
	width:1200px;
	height:30px;
	line-height:30px;
	background:#ededed;
	overflow:hidden;
}
.stats_shop_choice > p, .stats_shop_choice >select{
	float:left;
}
.stats_shop_choice > p{
	width:100px;
	text-align:center;
}
.stats_shop_choice >select{
	width:200px;
	margin-top:5px;
}
.shop_stats{
	width:1200px;
}
.stats_menu{
	width:1200px;
	overflow:hidden;
}
.stats_menu > div {
	float:left;
	width:300px;
	height:30px;
	line-height:30px;
	text-align:center;
	border-right:1px solid #ededed;
	box-sizing:border-box;
	color:#fff;
	cursor:pointer;
}
.stats_day{
	background:#ffa500;
}
.stats_day_menu{
	background:#3d3d3d;
}
.stats_month{
	background:#3d3d3d;
}
.stats_month_menu{
	background:#3d3d3d;
}
.stats_day_text{
	width:1200px;
	height:30px;
	line-height:30px;
	margin-top:5px;
}
.stats_day_text > ul{
	width:1200px;
	overflow:hidden;
}
.stats_day_text > ul > li{
	float:left;
	text-align:center;
	background:#696969;
	color:#fff;
	border-right:1px solid #ededed;
	box-sizing:border-box;
}
.stats_day_text > ul > li:nth-child(1){
	width:100px;
}
.stats_day_text > ul > li:nth-child(2){
	width:300px;
}
.stats_day_text > ul > li:nth-child(3){
	width:500px;
}

.stats_menu_box{
	width:1200px;
}
.day_ym{
	width:1200px;
	overflow:hidden;
	height:30px;
	line-height:30px;
	background:#ededed;
	margin-top:5px;
}
.day_ym > p, .day_ym > select{
	float:left;
}
.day_ym > p{
	width:100px;
	text-align:center;
}
.day_ym > select{
	width:100px;
	margin-top:5px;
	margin-left:10px;
}
.day_ym > select:nth-child(1){
	margin:0;
}
.day_choice{
	width:1200px;
	overflow:hidden;
	height:30px;
	line-height:30px;
	background:#ededed;
	margin-top:5px;
}
.day_choice > p, .day_choice > select{
	float:left;
}
.day_choice > p{
	width:100px;
	text-align:center;
}
.day_choice > select{
	width:100px;
	margin-top:5px;
	margin-left:10px;
}
.day_choice > select:nth-child(1){
	margin:0;
}
.month_choice{
	width:1200px;
	overflow:hidden;
	height:30px;
	line-height:30px;
	background:#ededed;
	margin-top:5px;
}
.month_choice > p, .month_choice > select{
	float:left;
}
.month_choice > p{
	width:100px;
	text-align:center;
}
.month_choice > select{
	width:100px;
	margin-top:5px;
	margin-left:10px;
}
.month_choice > select:nth-child(1){
	margin:0;
}
.show_btn1{
	width:50px;
	height:20px;
	margin-top:5px;
	margin-left:10px;
	text-align:center;
	line-height:20px;
	background:#3d3d3d;
	color:#fff;
	cursor:pointer;
}
.show_btn2{
	width:50px;
	height:20px;
	margin-top:5px;
	margin-left:10px;
	text-align:center;
	line-height:20px;
	background:#3d3d3d;
	color:#fff;
	cursor:pointer;
}
.show_btn3{
	width:50px;
	height:20px;
	margin-top:5px;
	margin-left:10px;
	text-align:center;
	line-height:20px;
	background:#3d3d3d;
	color:#fff;
	cursor:pointer;
}
.stats_day_menu_text{
	width:1200px;
	height:30px;
	line-height:30px;
	margin-top:5px;
}
.stats_day_menu_text > ul{
	width:1200px;
	overflow:hidden;
}
.stats_day_menu_text > ul > li{
	float:left;
	text-align:center;
	background:#696969;
	color:#fff;
	border-right:1px solid #ededed;
	box-sizing:border-box;
}
.stats_day_menu_text > ul > li:nth-child(1){
	width:100px;
}
.stats_day_menu_text > ul > li:nth-child(2){
	width:300px;
}
.stats_day_menu_text > ul > li:nth-child(3){
	width:500px;
}
.stats_day_menu_text > ul > li:nth-child(4){
	width:300px;
	border:0;
}

.stats_day_list{
	width:1200px;
	overflow:hidden;
	height:30px;
	line-height:30px;
	background:#ededed;
	border-bottom:1px solid #3d3d3d;
	box-sizing:border-box;
}
.stats_day_list > div{
	float:left;
	text-align:center;
	border-right:1px solid #3d3d3d;
	box-sizing:border-box;
}
.stats_day_list > div:nth-child(3){
	border:0;
}
.stats_day_menu_list{
	width:1200px;
	overflow:hidden;
	height:30px;
	line-height:30px;
	background:#ededed;
	border-bottom:1px solid #3d3d3d;
	box-sizing:border-box;
}
.stats_day_menu_list > div{
	float:left;
	text-align:center;
	border-right:1px solid #3d3d3d;
	box-sizing:border-box;
}
.stats_day_menu_list > div:nth-child(4){
	border:0;
}
.stats_month_list{
	width:1200px;
	overflow:hidden;
	height:30px;
	line-height:30px;
	background:#ededed;
	border-bottom:1px solid #3d3d3d;
	box-sizing:border-box;
}
.stats_month_list > div{
	float:left;
	text-align:center;
	border-right:1px solid #3d3d3d;
	box-sizing:border-box;
}
.stats_month_list > div:nth-child(3){
	border:0;
}
.stats_month_menu_list{
	width:1200px;
	overflow:hidden;
	height:30px;
	line-height:30px;
	background:#ededed;
	border-bottom:1px solid #3d3d3d;
	box-sizing:border-box;
}
.stats_month_menu_list > div{
	float:left;
	text-align:center;
	border-right:1px solid #3d3d3d;
	box-sizing:border-box;
}
.stats_month_menu_list > div:nth-child(4){
	border:0;
}
.list_score{
	width:100px;
}
.list_day{
	width:300px;
}
.all_pay{
	width:500px;
}
.all_count{
	width:300px;
}

