html,body{
	font-family:"gulim";
	font-size:12px;
}
.shop_view_box{
	width:1200px;
}
.shop_info{
	width:1200px;
	height:30px;
	line-height:30px;
}
.shop_info > ul{
	overflow:hidden;
	border-top:1px solid #3d3d3d;
	border-bottom:1px solid #3d3d3d;
	box-sizing:border-box;
}
.shop_info > ul > li{
	float:left;
	text-align:center;
	border-right:1px solid #ededed;
	box-sizing:border-box;
}
.shop_info > ul > li:nth-child(1){
	width:350px;
}
.shop_info > ul > li:nth-child(2){
	width:200px;
}
.shop_info > ul > li:nth-child(3){
	width:400px;
}
.shop_info > ul > li:nth-child(4){
	width:150px;
}
.shop_info > ul > li:nth-child(5){
	width:100px;
	border:0;
}
.shop_view{
	width:1200px;
	height:150px;
	overflow:hidden;
	border-bottom:1px solid #3d3d3d;
	box-sizing:border-box;
}
.shop_view > div{
	float:left;
	height:150px;
	border-right:1px solid #ededed;
	box-sizing:border-box;
}
.shop_view > div:nth-child(5){
	border:0;
}
.img_box{
	width:350px;
}
.name_box{
	width:200px;
	text-align:center;
}
.addr_box{
	width:400px;
	text-align:center;
}
.number_box{
	width:150px;
	text-align:center;
}
.school_box{
	width:100px;
	text-align:center;
}
.img_box > img{
	width:200px;
	height:100px;
	margin-left:75px;
	margin-top:10px;
}
.img_box > input{
	margin-top:5px;
	width:250px;
	margin-left:50px;
}
.img_box > p{
	width:250px;
	text-align:center;
	margin-left:50px;
	margin-top:2px;
	font-size:11px;
}
.name_box > p{
	margin-top:50px;

}
.refly_box{
	overflow:hidden;
	margin-top:20px;
}
.left_box{
	float:left;
}
.refly_box > input{
	width:150px;
	height:20px;
	margin-left:24px;
}
.addr_box > p{
	margin-top:50px;
}
.refly_box2{
	overflow:hidden;
	margin-top:20px;
}
.refly_box2 > input{
	width:350px;
	height:20px;
	margin-left:24px;
}

.number_box > p{
	margin-top:50px;
}
.refly_box3{
	overflow:hidden;
	margin-top:20px;
}
.refly_box3 > input{
	width:100px;
	height:20px;
	margin-left:24px;
}

.school_box > p{
	margin-top:50px;
}
.refly_box4{
	overflow:hidden;
	margin-top:20px;
}
.refly_box4 > input{
	width:90px;
	height:20px;
	margin-left:4px;
}
.shop_info_btn{
	width:150px;
	height:30px;
	text-align:center;
	line-height:30px;
	background:#3d3d3d;
	color:#fff;
	cursor:pointer;
	margin-left:1050px;
	margin-top:10px;
}
.shop_info_btn > p{
	width:150px;
	height:30px;
	text-align:center;
	line-height:30px;
	background:#3d3d3d;
	color:#fff;
	cursor:pointer;
	margin-left:1050px;
	margin-top:10px;
}
.shop_menu_bar{
	overflow:hidden;
	margin-top:20px;
}
.shop_menu_bar > div{
	float:left;
	width:600px;
	height:30px;
	text-align:center;
	line-height:30px;
	cursor:pointer;
}
.menu_management{
	background:#ffa500;
	color:#fff;
}
.review_management{
	background:#696969;
	color:#fff;
}
.menu_top_text_a{
	width:900px;
	height:30px;
	line-height:30px;
	border-bottom:1px solid #3d3d3d;
	box-sizing:border-box;
	background-color: #fff;
}
.menu_top_text_a > ul{
	overflow:hidden;
}
.menu_top_text_a > ul > li{
	float:left;
	text-align:center;
	border-right:1px solid #ededed;
	box-sizing:border-box;
}
.menu_top_text_a > ul > li:nth-child(1){
	width:230px;
}
.menu_top_text_a > ul > li:nth-child(2){
	width:200px;
}
.menu_top_text_a > ul > li:nth-child(3){
	width:200px;
}
.menu_top_text_a > ul > li:nth-child(4){
	width:120px;
}
.menu_top_text_a > ul > li:nth-child(5){
	width:120px;
	border:0;
}
.menu_list_a{
	width:900px;
	overflow:hidden;
	height:30px;
	line-height:25px;
	border-bottom:1px solid #3d3d3d;
	box-sizing:border-box;
	background-color: #fff;
}
.menu_list_a > div{
	float:left;
	text-align:center;
	border-right:1px solid #ededed;
	height:30px;
}
.menu_list_a > div:nth-child(5){
	border:0;
}
.menu_image_a{
	width:230px;
}
.menu_image_a > img{
	width:150px;
	height:80px;
	margin-top:9px;
}
.menu_name_a{
	width:200px;
}
.menu_pay_a{
	width:200px;
}
.menu_refly_btn_a{
	width:120px;
}
.menu_refly_btn_a > p{
	width:80px;
	height:20px;
	text-align:center;
	line-height:20px;
	background:#3d3d3d;
	color:#fff;
	margin-top:5px;
	cursor:pointer;
}
.menu_delete_btn_a{
	width:120px;
}
.menu_delete_btn_a > p{
	width:80px;
	height:20px;
	text-align:center;
	background:#3d3d3d;
	color:#fff;
	margin-top:5px;
	cursor:pointer;
}
.menu_side_btn{
	width:100px;
}
.menu_side_btn > p{
	width:80px;
	height:20px;
	text-align:center;
	line-height:20px;
	background:#3d3d3d;
	color:#fff;
	margin-top:40px;
	cursor:pointer;
}
.menu_side_view_btn{
	width:100px;
}
.menu_side_view_btn > p{
	width:80px;
	height:20px;
	text-align:center;
	line-height:20px;
	background:#3d3d3d;
	color:#fff;
	margin-top:40px;
	cursor:pointer;
}
.refly_btn{
	width:1200px;
	overflow:hidden;
	margin-top:20px;
}
.refly_btn > div{
	float:left;
}
.pop_close_btn{
	width:100px;
	height:30px;
	text-align:center;
	line-height:30px;
	background:#3d3d3d;
	color:#fff;
	margin-left:810px;
	cursor:pointer;
}
.choice_delete_btn{
	width:100px;
	height:30px;
	text-align:center;
	line-height:30px;
	background:#3d3d3d;
	color:#fff;
	margin-left:20px;
	cursor:pointer;
}
.refly_keep_btn{
	width:150px;
	height:30px;
	text-align:center;
	line-height:30px;
	background:#3d3d3d;
	color:#fff;
	margin-left:20px;
	cursor:pointer;
}
/*review*/
.review_box{
	width:1200px;
}
.review_top_text{
	width:1200px;
	height:30px;
	line-height:30px;
	border-bottom:1px solid #3d3d3d;
	box-sizign:border-box;

}
.review_top_text > ul{
	overflow:hidden;
	width:1200px;
}
.review_top_text > ul > li{
	float:left;
	text-align:center;
	border-right:1px solid #ededed;
	box-sizing:border-box;
}
.review_top_text > ul > li:nth-child(1){
	width:50px;
}
.review_top_text > ul > li:nth-child(2){
	width:150px;
}
.review_top_text > ul > li:nth-child(3){
	width:200px;
}
.review_top_text > ul > li:nth-child(4){
	width:700px;
}
.review_top_text > ul > li:nth-child(5){
	width:100px;
	border:0;
}
.review_list{
	width:1200px;
	overflow:hidden;
	border-bottom:1px solid #3d3d3d;
	box-sizing:border-box;
}
.review_list > div{
	float:left;
	text-align:center;
	height:100px;
	line-height:100px;
	border-right:1px solid #ededed;
	box-sizing:border-box;
}
.review_list > div:nth-child(5){
	border:0;
}
.review_choice{
	width:50px;
}
.review_choice > input{
	margin-top:40px;
}
.review_score{
	width:150px;
}
.review_user_name{
	width:200px;
}
.review_text{
	width:700px;
}
.review_delete_btn{
	width:100px;
}
.review_delete_btn > p{
	width:80px;
	height:20px;
	text-align:center;
	line-height:20px;
	background:#3d3d3d;
	color:#fff;
	cursor:pointer;
	margin-top:40px;
	margin-left:9px;
}
.review_choice_delete{
	width:1200px;
	margin-top:20px;
}
.review_choice_delete > p{
	width:100px;
	height:20px;
	text-align:center;
	line-height:20px;
	background:#3d3d3d;
	color:#fff;
	cursor:pointer;
	margin-left:1100px;
}
