@media screen and (max-width:400px){
	#wrap{
		width:400px;
	}
	.login_page{
		width:390px;
	}
	.login_big_box{
		width:390px;
	}
	.login_text_box{
		width:250px;
		margin-left:20px;
	}
	.login_logo > img {
		margin-left:20px;
	}
	.login_checkbox{
		width:380px;
		margin-left:20px;
	}
	.join_btn{
		width:386px;
	}
}