<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link href="css/style.css" rel="stylesheet" type="text/css" />
<link href="css/admin_footer.css" rel="stylesheet" type="text/css" />
<!--JQUERY 영역-->
<script src="js/jquery-3.0.0.js"></script>
<TITLE></TITLE>
</HEAD>
<BODY>
	<div id="wrap">
		<footer>
			<div class="footer_text1">
				<p><a href="">법적고지</a></p>
				<p><a href="">개인정보취급방식</a></p>
				<p><a href="">이용약관</a></p>
				<p><a href="">이메일 무단수집거부</a></p>
			</div>
			<div class="thanks_to">
				<p>Thank`s to -</p>
				<div class="thanks_text">
					<p>Programing : Sin yoo dong , Lee gil hak</p>
					<p>Web Disign : Jo chung hee</p>
				</div>
			</div>
		</footer>
		<div class="copyright">
				<p>Copyright ⓒ 2016 BRKOREA Company. All Rights Reserved.</p>
		</div>
	</div>
</BODY>
</HTML>
