<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC " -//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="group1">

	
	<select id="list2" resultType="kr.co.show.group.domain.GroupVO">
		select a.group_address, a.group_name, b.member_name, a.group_no, a.group_ch
		from show_group a, show_member b
		where a.member_no = b.member_no
	</select>
	
	<select id="detail2" resultType="kr.co.show.group.domain.GroupVO">
		select a.group_no, a.group_name,
		a.group_category, b.member_name,
		a.group_address, a.group_phone,
		a.group_ch, a.group_delete_ch, a.group_files
		from show_group a, show_member b
		where a.group_no = #{group_no}
			  and a.member_no = b.member_no 
	</select>
	<update id="update">
		update show_group set group_ch=#{group_ch} 
		where group_no=#{group_no}
	</update>
	
	<select id ="list3" resultType="kr.co.show.group.domain.GroupVO">
		select group_category
		from show_group
	</select>
	
	
</mapper>
