<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC " -//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="community">

	<insert id="create">
		insert into show_qna (qna_no,qna_name,qna_email,qna_category,qna_title,qna_text)
		values (show_anq_seq.nextval,#{qna_name},#{qna_email},#{qna_category},#{qna_title},#{qna_text})
	</insert>
  

</mapper>
