<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="group">
<!-- group_no, member_no, group_name, group_address, group_category, group_phone, group_start, group_end, group_files -->
	<insert id="enterpriseInsert">
		insert into show_group (group_no,member_no,group_name,group_address,group_category,group_phone,group_start,group_end,group_files)
		values (show_group_seq.nextval,#{member_no},#{group_name},#{group_address},#{group_category},#{group_phone},
					to_timestamp(#{group_start},'hh24:mi'),to_timestamp(#{group_end},'hh24:mi'),#{group_files})
	</insert>
	
	<update id="presidentUpdate">
		update show_member
		set member_position=20
		where member_no=#{member_no}
	</update>
	
	<select id="listAll" resultType="kr.co.show.group.domain.GroupVO">
		select member_no,group_files, group_name, group_address, group_no, group_ch
		from show_group
		where member_no=#{member_no}
	</select>
	
	<select id="detailView" resultType="kr.co.show.group.domain.GroupVO">
		select group_files, group_name, group_address, group_no
		from show_group
		where group_no=#{group_no}
	</select>
	
	<select id="menuList" resultType="kr.co.show.group.domain.MenuManageVO">
		select group_no, menu_category, menu_name, menu_price, menu_no
		from show_menu
		where group_no=#{group_no}
	</select>
	
	<select id="reviewList" resultType="kr.co.show.group.domain.ReviewManageVO">
		select review_no, group_no, review_score, nickname, review_text
		from show_review
		where group_no=#{group_no}
	</select>
	
	<delete id="menuDelete">
		delete from show_menu
		where menu_no=#{menu_no}
	</delete>
	
	<insert id="menuAdd">
		insert into show_menu (menu_no,member_no,group_no,menu_name,menu_price,menu_category)
		values (show_member_seq.nextval,#{member_no},#{group_no},#{menu_name},#{menu_price},#{menu_category})
	</insert>
	
	<select id="menuUpdateGet" resultType="kr.co.show.group.domain.MenuManageVO">
		select menu_no, menu_name, menu_price, menu_category
		from show_menu
		where menu_no=#{menu_no}
	</select>
	
	<update id="menuUpdatePost" parameterType="kr.co.show.group.domain.MenuManageVO">
		update show_menu
		set menu_name=#{menu_name},menu_price=#{menu_price},menu_category=#{menu_category}
		where menu_no=#{menu_no}
	</update>
	
	<update id="enterpriseRemoveApplication">
		update show_group
		set group_delete_ch='T'
		where group_no=#{group_no}
	</update>
	
	<insert id="sideAdd">
		insert into show_sidemenu (sidemenu_no,menu_no,member_no,group_no,sidemenu_name,sidemenu_pay,sidemenu_category)
		values (show_sidemenu_seq.nextval,#{menu_no},#{member_no},#{group_no},#{sidemenu_name},#{sidemenu_pay},#{sidemenu_category})
	</insert>
	
	<select id="sideList" resultType="kr.co.show.group.domain.MenuManageVO">
		select *
		from show_sidemenu
		where menu_no=#{menu_no}
	</select>
	
	<select id="sideUpdateGet" resultType="kr.co.show.group.domain.MenuManageVO">
		select *
		from show_sidemenu
		where menu_no=#{menu_no} and sidemenu_no=#{sidemenu_no}
	</select>
	
	<update id="sideUpdatePost" parameterType="kr.co.show.group.domain.MenuManageVO">
		update show_sidemenu
		set sidemenu_name=#{sidemenu_name}, sidemenu_pay=#{sidemenu_pay}
		where sidemenu_no=#{sidemenu_no}
	</update>
	
	<delete id="sideDelete" parameterType="kr.co.show.group.domain.MenuManageVO">
		delete from show_sidemenu
		where menu_no=#{menu_no} and sidemenu_no=#{sidemenu_no}
	</delete>
	
	<delete id="reviewDelete">
		delete from show_review
		where review_no=#{review_no}
	</delete>
	
</mapper>
