<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC " -//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="notice">
  
  	<insert id="create">
  	 insert into show_notice (notice_no,notice_title,notice_text,notice_ch)
  	 values (show_notice_seq.nextval,#{notice_title},#{notice_text},#{notice_ch})
  	</insert>
   <!-- 전체 레코드 조회 -->
   <select id="listAll" resultType="kr.co.show.community.domain.NoticeVO">
      select notice_no,notice_title,notice_text,notice_ch,notice_regdate,notice_ch
      from show_notice
      order by notice_no desc
   </select>
 <!-- 한 건의 레코드 조회 -->
   <select id="select" resultType="kr.co.show.community.domain.NoticeVO">
        select notice_no,notice_title,notice_text,notice_ch,notice_regdate,notice_ch
      from show_notice
      where notice_no=#{notice_no}
   </select>
   
   
    <select id="noticeTotalCount" resultType="int">
       select count(*) notice_no
   </select>
</mapper>
