<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="order">
	
	<select id="menu_list" resultType="kr.co.show.order.domain.OrderVO">
		select M.MENU_NO,M.MENU_NAME,M.MENU_PRICE,M.MENU_CATEGORY
		from show_menu m
		where m.group_no = #{group_no}
	</select>
	
	<select id="category_list" resultType="kr.co.show.order.domain.OrderVO">
		select distinct menu_category from show_menu where group_no=#{group_no}
	</select>
	
	<select id="group_info" resultType="kr.co.show.order.domain.OrderVO">
		select GROUP_NO,GROUP_NAME,GROUP_ADDRESS,GROUP_CATEGORY,to_char(GROUP_START,'HH24:MI') AS GROUP_START,TO_CHAR(GROUP_END,'HH24:MI') AS GROUP_END,GROUP_FILES,
		(select avg(review_score) from show_review where group_no=#{group_no}) as review_score
		from show_group
		where group_no = #{group_no}
	</select>
	
	<select id="sidemenu" resultType="kr.co.show.order.domain.OrderVO">
		select s.sidemenu_name,s.sidemenu_no,s.sidemenu_pay,s.sidemenu_category,s.menu_no,m.menu_price
		from show_sidemenu s,show_menu m
		where m.menu_no = #{menu_no}
	</select>
	
	<select id="sidecount" resultType="int">
		select count(*)
		from show_sidemenu
		where menu_no = #{menu_no}
	</select>

	<insert id="orderinsert">
		Insert into SHOW_ORDER (ORDER_NO,MEMBER_NO,GROUP_NO,ORDER_NAME,ORDER_PHONE,ORDER_TIME,RESERVATION_TIME,ORDER_PRICE,ORDER_COUNT,ORDER_ASK,ORDER_ASK2) 
		values (show_order_seq.nextval, #{member_no}, #{group_no}, #{order_name}, #{order_phone}, to_date(sysdate,'yyyy/MM/DD HH24:MI'), to_date(#{reservation_time},'yyyy/MM/DD HH24:MI'), 
				#{order_price}, #{order_count}, #{order_ask}, #{order_ask2})
	</insert>
	
	<insert id="menuinsert">
		insert into show_menu_check(member_no,group_no,menu_no,order_no,menu_name,menu_count,menu_price)
		values(#{member_no},#{group_no},#{menu_no},show_order_seq.nextval-1,#{menu_name},#{menu_count},#{menu_price})
	</insert>
	
	<insert id="sideinsert">
		insert into show_menu_check(member_no,group_no,side_no,order_no,menu_name,menu_count,menu_price)
		values(#{member_no},#{group_no},#{side_no},show_order_seq.nextval-1,#{menu_name},#{menu_count},#{menu_price})
	</insert>
	
	<select id="reviewlist" resultType="kr.co.show.order.domain.OrderVO">
		select nickname,review_text,review_score,to_char(review_regdate,'yyyy/mm/dd HH24:MI') as review_regdate from show_review where group_no=#{group_no}
	</select>
</mapper>
