<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="sign">
<insert id="create">
	insert into show_member
	values (show_member_seq.nextval, #{email}, #{name}, #{nickName}, #{password}, #{phone}, #{birthday}, #{allCheck}, #{emailCheck}, #{smsCheck}, #{position})
</insert>
<insert id="create_sell">
	insert into show_member (id, email, name, nickName, password, phone, birthday, allCheck, position)
	values (show_member_seq.nextval, #{email}, #{name}, #{nickName}, #{password}, #{phone}, #{birthday}, #{allCheck}, #{position})
</insert>
<select id="login" resultType="kr.co.show.sign.domain.MemberVO">
	select member_no, member_pass, member_position
	from show_member
	where member_email = #{email}
</select>
</mapper>
